<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
   <div class="notification.is-primary.global-notificacion"
     <p class="notice"><%= notice %>
   </div>
  <% end %>
  <% if flash[:alert] %>
   <div class="notification.is-danger.global-notificacion"
     <p class="alert"><%= alert %>
   </div>
  <% end %>

  <nav class="navbar is-info">
   <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <h1 class = "tittle is-5">Twittter</h1>
    <% end %>
    <div class="navbar-burger burger" data-target="navbarExample">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>

   <div id="navbarExample" class="navbar-menu">
     <div class="navbar-end">
       <div class ="field is-grouped">
       <p class ="control">
         <%= link_to "New Tweet", new_tweeet_path, class:"button is-primary is-inverted" %>
       </p>
       <p class="control">Sign UP</p>

       </div>
     </div>
   </div>
  </nav>
    <%= yield %>




    <script src="https://kit.fontawesome.com/a139549e31.js" crossorigin="anonymous"></script>
  </body>
</html>
